body {
  margin: 0;
}

.container-fluid {
  text-align: center;
}

.top-bar h2 {
  font-size: 6rem;
  padding: 10px;
}

.top-bar h3 {
  font-size: 2rem;
  padding: 0px 10px;
  padding-bottom: 10px;
}

.top-bar {
  border: 5px solid #27ACB9;
  text-align: center;
  background: white;
  margin-right: auto;
  margin-left: auto;
  font-family: Macondo;
  font-weight: bold;
  color: #27ACB9;
  padding: 0px;
  display: inline-block
}

.page {
  background-image: url("https://64.media.tumblr.com/098f94da5d1cf4702b1e979eaabc26e8/tumblr_pms1cuPuGB1qho90vo1_1280.jpg");
  background-repeat: repeat;
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.img {
  height: 400px;
  position: relative;
}

.text {
  font-size: 4rem;
  font-family: Macondo;
  background-color: white;
  text-align: center;
  border-style: double;
  margin: auto;
  padding: 1rem;
}

.left {
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.right {
  float: right;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
